{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'nutritions/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'nutritions/edit.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navigation">
          <div class="nav_items">
            <div class="icon_wrapper">
              <a href="/mealPage/"><i class="fa-solid fa-basket-shopping"></i></a>
            </div>
            <div class="icon_wrapper">
              <a href="/"><i class="fa-solid fa-house"></i></a>
            </div>
              {% if request.user.is_authenticated %}
                  <div class="icon_wrapper">
              <a href="/settings/"><i class="fa-solid fa-gear"></i></a>
            </div>
              {% else %}
                  <div class="icon_wrapper">
              <a href="/login/"><i class="fa-solid fa-user"></i></a>
            </div>
              {% endif %}
          </div>
        </nav>
      </div>
    </header>

    <main class="forma_main">
      <div class="container">
        <div class="main_plan_modal">
          <h2 class="main_plan_modal_head">Edit your Profile</h2>
          <form action="/edit/" method="post">
              {% csrf_token %}
            <div class="weight_wrapper">
              <label for="weight">Enter your weight</label>
              <input type="text" placeholder="80kg" id="weight" name="weight" />
            </div>
            <div class="height_wrapper">
              <label for="height">Enter your Height</label>
              <input type="text" placeholder="192cm" id="height" name="height" />
            </div>
            <div class="gender_wrapper">
              <label class="gender_wrapper_check">
                <input type="radio" name="gender" value="Male"/>
                <span>Male</span>
              </label>
              <label class="gender_wrapper_check">
                <input type="radio" name="gender" value="Female"/>
                <span>Female</span>
              </label>
            </div>
            <div class="age_wrapper">
              <label for="age">Enter your age</label>
              <input type="text" placeholder="18" id="age" name="age" />
            </div>
              <div class="choice">
              <h1 class="choice_head">Your Preference</h1>
              <label class="gender_wrapper_check">
                <input type="radio" name="preference" value="-2" />
                <span>Weight Loss</span>
              </label>
              <label class="gender_wrapper_check">
                <input type="radio" name="preference" value="0" />
                <span>Health Maintenance</span>
              </label>
              <label class="gender_wrapper_check">
                <input type="radio" name="preference" value="1" />
                <span>Weight Gain</span>
              </label>
            </div>

            <button class="form_btn" type="submit">Save</button>
          </form>
        </div>
      </div>
    </main>
    <script src="edit.js"></script>
  </body>
</html>
