{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'nutritions/style.css' %}" />
    <link rel="stylesheet" href="{% static 'nutritions/register.css' %}" />
  </head>
  <body>
    <main class="register_main">
      <div class="register_main_items">
        <div class="register_main_items_img">
          <img src="./image.jpeg" alt="" />
        </div>
        <div class="wrapper">
          <div class="register_main_items_signin">
            <form action="/register/" method="post">
                {% csrf_token %}
              <input type="username" placeholder="example@gmail.com" name="username"/>
              <input type="password" placeholder="Password" name="password"/>
              <input type="password" placeholder="Confirm password" name="password_confirm"/>
              <button type="submit">Sign In</button>
            </form>
          </div>
          <div class="register_main_items_login">
            <p class="register_main_items_login_desc">
              Already have an account?
            </p>
            <a class="register_main_items_login_link" href="/login/"
              >Log In</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
